<div class="new">
    
    <mat-card class="toolbar">
        <div class="toolbar-breadcrumbs">
            <span translate="MENU.INVOICES">Invoices</span>
            <h3 translate="NEWINVOICE.PAGETITLE">New invoice</h3>
        </div>
        <div class="toolbar-breadcrumbs-page">
            <div class="toolbar-breadcrumbs-page-links" *ngIf="chosenUserMethod !== 'none'">
                <i class="kt-menu__link-icon flaticon2-back" (click)="togglePickUser()"></i>
                <p *ngIf="chosenUserMethod !== 'none'"> {{ chosenUserMethod }} </p>
            </div>
            <div class="toolbar-breadcrumbs-page-links" *ngIf="startInvoice">
                <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeUser()"></i>
                <p> Make invoice </p>
            </div>
            <!-- <div class="toolbar-breadcrumbs-page  *ngIf="checkInvoice">
                <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeInvoice()"></i>
                <p> Invoice Overview </p>
            </div> -->
        </div>
    </mat-card>
    
    <div class="new-container">
        <mat-card class="new-choose-user" *ngIf="chosenUserMethod === 'none'">   
            <h2 translate="NEWINVOICE.PICKUSERMETHODTITLE">Make a new invoice for</h2> 
            <hr class="underline underline_wide">
            <div class="new-choose-user-buttons">
                <button mat-button (click)="newUser($event)" class="new-choose-user-card new-choose-user-card-new">
                    <mat-icon class="new-choose-user-card-icon" aria-label="add-user" svgIcon="icon_userAdd" matPrefix></mat-icon>
                    <!-- <i class="kt-menu__link-icon flaticon-user-add"></i> -->
                    <p translate="NEWINVOICE.NEWUSER">New User</p>
                </button>
                <button mat-button (click)="userFromDB()" class="new-choose-user-card new-choose-user-card-fromDB">
                    <mat-icon class="new-choose-user-card-icon" aria-label="pick-user" svgIcon="icon_userDB" matPrefix></mat-icon>
                    <!-- <i class="kt-menu__link-icon flaticon-users"></i> -->
                    <p translate="NEWINVOICE.USERFROMDB">Select user from database</p>
                </button>
            </div>
        </mat-card>

        <div class="new-make-user" *ngIf="chosenUserMethod === 'New user' &&  !startInvoice">
            <mat-card>
                <h2 translate="NEWINVOICE.NEWUSERFORMTITLE">Fill out customer details</h2>
                <hr class="underline underline_wide">
                <form class="new-make-user-form" [formGroup]="userForm">
                            
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.FIRSTNAME">first name</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.FIRSTNAMEPLACEHOLDER' | translate" formControlName="DebtorFirstName">
                                </mat-form-field>
                            
                            
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.LASTNAME">Last name</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.LASTNAMEPLACEHOLDER' | translate" formControlName="DebtorLastName">
                                </mat-form-field>
                                
                                <mat-form-field appearance="outline" class="form-fifty">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.EMAIL">E-mail</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.EMAILPLACEHOLDER' | translate" formControlName="DebtorEmail">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="form-fifty">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.MOBILEPHONE">Mobile phone number</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.MOBILEPHONEPLACEHOLDER' | translate" type="phone" formControlName="DebtorPhoneNumber">
                                </mat-form-field>
                            
                                <mat-form-field appearance="outline" class="form-fifty">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.ADDRESS">Address</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.ADDRESSPLACEHOLDER' | translate" formControlName="DebtorStreetname">
                                </mat-form-field>
                            
                            
                                <mat-form-field appearance="outline" class="form-ten">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.HOUSENUMBER">House number</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.HOUSENUMBERPLACEHOLDER' | translate" formControlName="DebtorHouseNumber">
                                </mat-form-field>
                            
                            
                                <mat-form-field appearance="outline" class="form-ten">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.EXTENSION">Extension</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.EXTENSIONPLACEHOLDER' | translate" formControlName="DebtorHouseNumberExtension">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="form-ten">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.ZIP">Zip code</mat-label>
                                    <input matInput #postalCode maxlength="6" [placeholder]="'NEWINVOICE.NEWUSERFORM.ZIPPLACEHOLDER' | translate" formControlName="DebtorZipCode">
                                    <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                                </mat-form-field>
                            
                            
                                <mat-form-field appearance="outline" class="form-ten">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.CITY">City</mat-label>
                                    <input matInput [placeholder]="'NEWINVOICE.NEWUSERFORM.CITYPLACEHOLDER' | translate" formControlName="DebtorCity">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="form-ten">
                                    <mat-label translate="NEWINVOICE.NEWUSERFORM.COUNTRY">Country</mat-label>
                                    <input type="text" [placeholder]="'NEWINVOICE.NEWUSERFORM.COUNTRYPLACEHOLDER' | translate" aria-label="Country" matInput [matAutocomplete]="auto" formControlName="DebtorCountry">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let country of countries" [value]="country">
                                            {{ country }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                    
                    <div class="form-button">
                        <button  mat-button class="button-primary"  (click)="saveUser()">
                           <span translate="GENERAL.SAVE">
                               Save customer
                           </span> 
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>

        <div class="new-make-invoice" *ngIf="user && startInvoice">
            <mat-card>
                <h2 translate="NEWINVOICE.INVOICEDETAILTITLE">Fill out invoice details</h2>
                <hr class="underline underline_wide">
                <form class="new-make-invoice-form" [formGroup]="invoiceForm">
                    <div class="new-make-invoice-form-inputs">
                        <div class="new-make-invoice-form-inputs-title">
                            <h4 translate="NEWINVOICE.INVOICEDETAILS">Invoice details</h4>
                        </div>
                        <div class="new-make-invoice-form-inputs-content">
                            <mat-form-field appearance="outline" class="form-fifty">
                                <mat-label translate="GENERAL.INVOICEDESCRIPTION">Description</mat-label>
                                <input matInput placeholder="Description" formControlName="Description">
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="form-ten">
                                <mat-label translate="GENERAL.AMOUNT">Amount</mat-label>
                                <input matInput placeholder="Amount" type="number" formControlName="Amount" [(ngModel)]="InvoiceAmount">
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="form-twenty">
                                <mat-label translate="GENERAL.INVOICEDATE">Invoice date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Invoice date" (ngModelChange)="createDueDate()" formControlName="InvoiceDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="form-twenty">
                                <mat-label translate="GENERAL.TERMS">Payment term</mat-label>
                                <input matInput placeholder="Payment term" type="number" (keyup)="createDueDate()" formControlName="InvoicePaymentTerm">
                            </mat-form-field>
                        </div>
                        <div class="new-make-invoice-form-inputs-add">
                            <mat-icon>add</mat-icon>
                            <a translate="NEWINVOICE.ADDLINE">Add line item</a>       
                        </div>
                    </div>

                    <div class="form-advanced">
                            <h4 translate="NEWINVOICE.ADVANCEDSETTINGS">
                                <mat-icon  aria-label="Settings" svgIcon="icon_settings"></mat-icon>
                                Advanced settings
                            </h4>
                        <div class="form-advanced-content">
                            <!-- DD -->
                            <div class="form-advanced-directdebit form-fifty">
                                <div class="form-advanced-title">
                                    <h5 translate="NEWINVOICE.DIRECTDEBIT">Direct debit</h5>
                                    <mat-slide-toggle color="success" labelPosition="before" (click)="toggleDirectDebit()"><span *ngIf="directDebit">on</span></mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="outline" class="form-full-width" >
                                    <mat-label translate="NEWINVOICE.IBAN">IBAN number</mat-label>
                                    <input matInput placeholder="IBAN number" formControlName="ConsumerIban">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.BIC">BIC number</mat-label>
                                    <input matInput placeholder="BIC number" type="text" formControlName="ConsumerBic">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="form-fifty">
                                    <mat-select placeholder="Interval" formControlName="DirectDebitInterval">
                                        <mat-option *ngFor="let interval of intervals" [value]="interval">
                                            {{ interval }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field class="form-fifty" appearance="outline">
                                    <mat-label translate="GENERAL.STARTDATE">Start date</mat-label>
                                    <input matInput [matDatepicker]="pickerDirectDebit" placeholder="End date" formControlName="DirectDebitEndDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDirectDebit"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDirectDebit></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <!-- PP -->
                            <div class="form-advanced-paymentplan form-fifty">
                                <div class="form-advanced-title">
                                    <h5 translate="NEWINVOICE.PAYMENTPLAN">Payment plan</h5>
                                    <mat-slide-toggle color="success" labelPosition="before" (click)="togglePaymentPlan()"><span *ngIf="paymentPlan">on</span></mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="GENERAL.TERMS">Terms</mat-label>
                                    <input matInput placeholder="Terms" (keyup)="calculatePaymentPlanAmount()" formControlName="InstallmentPlanNumberOfPayments" [(ngModel)]="paymentPlanTerms">
                                </mat-form-field>
                                
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="GENERAL.AMOUNT">Amount</mat-label>
                                    
                                    <input matInput placeholder="Amount per term" (keyup)="calculatePaymentPlanTerms()" type="number" formControlName="InstallmentPlanPaymentAmount" [(ngModel)]="paymentPlanAmount">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="form-fifty">
                                    <mat-select placeholder="Interval" formControlName="InstallmentPlanInterval">
                                        <mat-option *ngFor="let interval of intervals" [value]="interval">
                                            {{ interval }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="form-fifty" appearance="outline">
                                    <mat-label translate="GENERAL.STARTDATE">Start date</mat-label>
                                    <input matInput [matDatepicker]="pickerPaymentPlan" placeholder="End date" formControlName="InstallmentPlanStartByUtc">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPaymentPlan"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerPaymentPlan></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <!-- EM -->
                            <div class="form-advanced-emandate form-fifty">
                                <div class="form-advanced-title">
                                    <h5 translate="NEWINVOICE.EMANDATE">E-Mandate</h5>
                                    <mat-slide-toggle color="success" labelPosition="before" (click)="toggleEmandate()"><span *ngIf="eMandate">on</span></mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.INCASSANTID">Incassant ID</mat-label>
                                    <input matInput placeholder="Incassant ID" formControlName="CreditorIdentification">
                                </mat-form-field>
                                
                                
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.MANDATEID">Mandaat ID</mat-label>
                                    <input matInput placeholder="Mandaat ID" type="number" formControlName="MandateIdentification">
                                </mat-form-field>
                            </div>
                            <div class="form-advanced-extra form-fifty">
                                <div class="form-advanced-title">
                                    <h5 translate="NEWINVOICE.COLLECTIONS">Collections agency</h5>
                                    <mat-slide-toggle color="success" labelPosition="before" (click)="toggleInterestAndClaim()"><span *ngIf="interest">on</span></mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.CONTRACTNAME">Contract name</mat-label>
                                    <input matInput placeholder="contract name" formControlName="ContractName">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.INTERESTCOST">Interest cost</mat-label>
                                    <input matInput placeholder="Interest cost" formControlName="InterestCosts">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label translate="NEWINVOICE.CLAIMCOST">Claim cost</mat-label>
                                    <input matInput placeholder="Claim cost" type="number" formControlName="ClaimCosts">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-button">
                        <button mat-button class="button-primary" (click)="saveInvoice()">
                            <span translate="GENERAL.SAVE">
                                Save invoice
                            </span>
                        </button>
                    </div>
                </form>
            </mat-card>


            <!-- invoice summary -->

            <mat-card class="new-summary">
                <h2 translate="NEWINVOICE.INVOICESUMMARYTITLE">Invoice summary</h2>
                <hr class="underline underline_wide">

                <div class="new-summary-content">
                    <div class="new-summary-header">
                        <img class="new-summary-header-companylogo" src="assets/media/logos/logo.png" alt="company-logo">
                        <div class="new-summary-header-company-information">
                            <ul>
                                <li>
                                    <h4>
                                        {{ fakecompany.name }}
                                    </h4>
                                </li>
                                <li>{{ fakecompany.street }} {{ fakecompany.housenumber }}</li>
                                <li>{{ fakecompany.postalcode }} {{ fakecompany.city }}</li>
                                <li></li>
                                <li>{{ fakecompany.kvk }}</li>
                                <li>{{ fakecompany.btw }}</li>
                                <li>{{ fakecompany.bank }}</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="new-summary-customer-info">
                        <h4 translate="NEWINVOICE.CUSTOMERDETAILS">Customer details</h4>
                        <hr class="underline">
                        <ul>
                            <li translate="GENERAL.CUSTOMERID"> Customer Id: 12345667 </li>
                            <li> {{ exampleUser.DebtorFirstName }} {{ exampleUser.DebtorLastName }} </li>
                            <li> {{ exampleUser.DebtorEmail }} </li>
                            <li> {{ exampleUser.DebtorPhoneNumber }} </li>
                            <li> {{ exampleUser.DebtorStreetname }} {{ exampleUser.DebtorHouseNumber }} {{ exampleUser.DebtorHouseNumberExtension }} </li>
                            <li> {{ exampleUser.DebtorZipCode }} {{ exampleUser.DebtorCity }} </li>
                            <li> {{ exampleUser.DebtorCountry }} </li>
                        </ul>
                    </div>
                    <div class="new-summary-invoice-general">
                        <div class="new-summary-invoice-general-left">
                            <h4 translate="GENERAL.INVOICE">Invoice</h4>
                            <p translate="GENERAL.INVOICENUMBER">Invoice number: {{ exampleInvoice.InvoiceNumber }}</p>
                            <p translate="GENERAL.PURCHASEID">Purchase ID: 876543219</p>
                        </div>
                        <div class="new-summary-invoice-general-right">
                            <p translate="GENERAL.INVOICEDATE">Invoice date: {{ dateInput.format("DD-MM-YYYY") }} </p>
                            <p translate="GENERAL.INVOICEDUEDATE">Due date: {{ dueDate.format("DD-MM-YYYY") }}</p>
                            <p translate="GENERAL.TERMS">Payment Term: {{ exampleInvoice.InvoicePaymentTerm }} </p>
                        </div>
                    </div>
                    <div class="new-summary-invoice">
                        <div class="new-summary-invoice-category">
                            <p translate="GENERAL.INVOICEDESCRIPTION" *ngIf="exampleInvoice.Description">Description:</p>
                            <p *ngIf="exampleInvoice.Description">{{ exampleInvoice.Description }} </p>
                        </div>
                        <div class="new-summary-invoice-category">
                            <p translate="GENERAL.AMOUNT" *ngIf="exampleInvoice.Amount">Amount:</p>
                            <p *ngIf="exampleInvoice.Amount">{{ exampleInvoice.Amount }}</p>
                        </div>
                        <div class="new-summary-invoice-category">
                            <p translate="GENERAL.STATUS">Status:</p>
                            <p>Concept</p>
                        </div>
                    </div>

                    <div class="new-make-invoice-form-fromdatabase-invoice form-twenty" *ngIf="directDebit">
                        <h4 translate="NEWINVOICE.DIRECTDEBIT">Direct Debit</h4>
                        <hr class="underline">
                        <ul>
                            <li translate="NEWINVOICE.ACTIVATED">Activated</li>
                            <li translate="NEWINVOICE.IBAN">IBAN: {{ exampleInvoice.ConsumerIban }} </li>
                            <li translate="NEWINVOICE.BIC">BIC: {{ exampleInvoice.ConsumerBic }} </li>
                            <li translate="NEWINVOICE.INTERVAL">Interval: {{ exampleInvoice.DirectDebitInterval }} </li>
                            <li translate="GENERAL.STARTDATE">Start date: {{ exampleInvoice.DirectDebitEndDate | date:'dd MM yyyy' }}
                            </li>
                        </ul>
                    </div>
                    <div class="new-make-invoice-form-fromdatabase-invoice form-twenty" *ngIf="paymentPlan">
                        <h4 translate="NEWINVOICE.PAYMENTPLAN">Payment Plan</h4>
                        <hr class="underline">
                        <ul>
                            <li translate="NEWINVOICE.ACTIVATED">Activated</li>
                            <li translate="GENERAL.TERMS">Terms: {{ exampleInvoice.InstallmentPlanNumberOfPayments }} </li>
                            <li translate="GENERAL.AMOUNT">Amount: {{ exampleInvoice.InstallmentPlanPaymentAmount }} </li>
                            <li translate="NEWINVOICE.INTERVAL">Interval: {{ exampleInvoice.DirectDebitInterval }} </li>
                            <li translate="GENERAL.STARTDATE">Start date: {{ exampleInvoice.InstallmentPlanStartByUtc }} </li>
                        </ul>
                    </div>
                    <div class="new-make-invoice-form-fromdatabase-invoice form-twenty" *ngIf="eMandate">
                        <h4 translate="NEWINVOICE.EMANDATE">E-mandate</h4>
                        <hr class="underline">
                        <ul>
                            <li translate="NEWINVOICE.INCASSANTID">Incassant ID: {{ exampleInvoice.CreditorIdentification }} </li>
                            <li translate="NEWINVOICE.MANDATEID">Mandaat ID: {{ exampleInvoice.MandateIdentification }} </li>
                        </ul>
                    </div>
                    <div class="new-make-invoice-form-fromdatabase-invoice form-twenty" *ngIf="interest">
                        <h4 translate="NEWINVOICE.COLLECTIONS">Collecttions</h4>
                        <hr class="underline">
                        <ul>
                            <li translate="NEWINVOICE.CONTRACTNAME">Contract name: {{ exampleInvoice.ContractName }} </li>
                            <li translate="NEWINVOICE.INTERESTCOST">Interest cost: {{ exampleInvoice.InterestCosts }} </li>
                            <li translate="NEWINVOICE.CLAIMCOST">Claim cost: {{ exampleInvoice.ClaimCosts }} </li>
                        </ul>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>