@import "../../../../../variables.scss";
@import "../../../../../buttons.scss";
@import "../../../../../animations.scss";
@import "../../../../../general.scss";

.new {
    &-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        max-width: 100vw;
        overflow: hidden;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $grey-light;
            border: 1px solid $grey-light;
            margin-left: 2em;
            margin-right: 2em;
            i {
                margin-bottom: -3px;
                color: rgba($primary, 0.4);
            }
            &:hover, &:active, &:focus {
             i {
                color: $primary;
            }   
            }
        }
        &-breadcrumbs {
            color: $grey;
            padding: 1em 2em 1em 1em;
            border-right: 1px solid $grey-light;
            &-page {
                display: flex;
                p {
                    margin: 0;
                    font-size: 1.2em;
                }
                .flaticon2-back {
                    font-size: 1.2em;
                    margin-right: 0.5em;
                }
                &-links {
                    display: flex;  
                    padding: 0.5em;
                    color: $grey;
                }
            }
        }
        &-actions {
            &-correspondence {
                padding: 1em;
                width: 20em;
               &-invoices, &-reminders {
                   &-content {
                       &-buttons {
                            display: flex;
                            i {
                                margin-right: .5em;
                            }
                       }
                   }
               }
               &-edit {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   padding: 1em;
                   i {
                       height: 1.2em;
                       margin-right: 0.5em;
                   }
               }
            }
            &-button-active {
                // animation: lightup duration timing-function delay iteration-count direction fill-mode;
                i {
                    animation: lightup .4s ease-out .1s 1 normal forwards;
                }
            }
        }
    }
    &-container {
        margin: 1em;
    }
    &-choose-user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-buttons {
            display: flex;
            flex-direction: row;

        }
        &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 49.5%;
            height: 35em;
            &-icon {
                height: 10em;
                width: 10em;
            }
            p {
                font-size: 1.5em;
            }
            button {
                width: 100%;
                height: 100%;
            }
        }
    }
    &-make {
        &-invoice {
            &-form {
                p {
                    display: flex;
                    width: 7em;
                }
                li {
                    list-style: none;
                }
                &-inputs {
                    margin-bottom: 2em;
                    &-content {
                        display: flex;
                    }
                    &-add {
                        display: flex;
                        align-items: center;
                        a {
                            font-size: .9em;
                        }
                        mat-icon {
                            height: 18px !important;
                            margin-left: 0.1em;
                        }
                        &:hover {
                            mat-icon, a {
                                color: $primary;
                            }   
                        }
                    }
                }
            }
        }
    }
    .form {
        &-full-width {
            width: 100%;
        }
        &-forty {
            width: 40% !important;
        }
        &-fifty {
            width: 50% !important;
        }
        &-twenty {
            width: 20%;
            overflow: hidden;
        }
        &-ten {
            width: 10%;
        }
        &-button {
            display: flex;
            flex-direction: row-reverse;
        }
 
        &-advanced {
            mat-icon {
                margin-right: 0.5em;
            }
            &-paymentplan, &-directdebit, &-emandate, &-extra {
                padding: 1em 0.5em 0.5em 0.5em;
                margin: 0.25em;
                background: $almost-white;
                border-radius: $radius;
            }
            &-content {
                display: flex;
                padding: 1em 0;
            }
            .mat-button-wrapper {
                display: flex;
                align-items: center;
                mat-icon {
                    margin-right: 0.5em;
                }
            }
            &-title {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &-summary {
        margin-top: 1em;
        padding: 1em;
        &-content {
            padding: 2em;
            margin: 2em 5em 8em 5em;
            box-shadow: 5px 0px 10px 10px rgba($grey-light, 0.1);
            border-radius: $radius;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            &-companylogo {
                width: 10em;
            }
            &-information {
                ul {

                    list-style: none;
                }
                &-fromdatabase {
                    display: flex;
                    &-invoice, &-customer {
                        padding: 1em;
                        ul {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
        &-invoice {
            display: flex;
            margin-top: 2em;
            margin-bottom: 2em;
            &-general {
                display: flex;
                justify-content: space-between;
            }
            &-category {
                display: flex;
                flex-direction: column;
                margin-right: 10em;
                p:first-of-type { 
                    border-bottom: 1px solid $grey;
                }
            }
        }
        &-customer-info {
            margin: 2em 0;
            ul {
                margin: 0;
                padding: 0;
            }
        }
    }
}