@import "../../../../../variables.scss";
@import "../../../../../buttons.scss";
@import "../../../../../animations.scss";
@import "../../../../../general.scss";

@media (min-width: 1025px){
    .kt-subheader--fixed {
        padding-top: 0px !important;
    }
}