<mat-card class="toolbar">
    <div class="toolbar-breadcrumbs">
        <span translate="MENU.COMMUNICATION">Instellingen</span>
        <h3 translate="SETTINGS.TEMPLATES.PAGETITLE">Algemeen</h3>
    </div>
    <button class="templates-add-template-button" matTooltip="Add template">
        <mat-icon class="templates-overview-template-actions-button-icon" aria-label="icon_add_template" svgIcon="icon_add_template" (click)="toggleNewTemplate()"></mat-icon>
    </button>
</mat-card>

<div class="templates">
    <mat-card class="templates-overview">
        <div class="templates-overview-template" *ngFor="let template of templateExamples">
           <h4>
               {{template.Description}}
           </h4>
           <div class="templates-overview-template-actions">
               <button class="templates-overview-template-actions-button"  [attr.id]='template.SupplierEmailTemplateId' (click)="toggleThisTemplate($event)">
                   <mat-icon class="templates-overview-template-actions-button-icon" matTooltip="Edit" aria-label="edit-template" svgIcon="icon_edit"></mat-icon>
                </button>
                <button class="templates-overview-template-actions-button" (click)="previewTemplateNow(template)">
                    <mat-icon class="templates-overview-template-actions-button-icon" matTooltip="Preview" matTooltip="Preview" aria-label="preview-edit-template" svgIcon="icon_preview"></mat-icon>
                </button>
                <button class="templates-overview-template-actions-button">
                    <mat-icon class="templates-overview-template-actions-button-icon" matTooltip="Text preview" aria-label="Text preview" svgIcon="icon_preview_text"></mat-icon>
                </button>
                <button class="templates-overview-template-actions-button" (click)="openCorrespondenceDialog(template)">
                    <mat-icon class="templates-overview-template-actions-button-icon" matTooltip="Archive" aria-label="Archive" svgIcon="icon_archive"></mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card class="templates-add-template" *ngIf="this.makeNewTemplate">
        <h2 translate="SETTINGS.TEMPLATES.NEWTEMPTITLE">Enter template details</h2>
        <hr class="underline underline_wide">
        <form class="new-make-user-form" [formGroup]="emailTemplate">
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.CODE">code</mat-label>
                <input matInput formControlName="SupplierEmailTemplateId">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.DESC">desc</mat-label>
                <input matInput formControlName="Description">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.FROM">from</mat-label>
                <input matInput formControlName="EmailFrom">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.BCC">bcc</mat-label>
                <input matInput formControlName="EmailBcc">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.REPLY">reply</mat-label>
                <input matInput formControlName="EmailReplyTo">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-half-width">
                <mat-label translate="SETTINGS.TEMPLATES.SUBJECT">template</mat-label>
                <input matInput formControlName="EmailSubjectTemplate">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label translate="SETTINGS.TEMPLATES.TEXT">templateBodyTextTemplate</mat-label>
                <input matInput formControlName="BodyTextTemplate">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label translate="SETTINGS.TEMPLATES.HTML">template Body HTML Template</mat-label>
                <input matInput formControlName="BodyHtmlTemplate">
            </mat-form-field>
            <div class="templates-add-template-buttons">
                <button mat-button (click)="toggleNewTemplate()">
                    <span translate="GENERAL.CANCEL">
                        Annuleren
                    </span>
                </button>
                <button mat-button class="button-primary" (click)="newTemplate()"> 
                    <span translate="GENERAL.SAVE">
                        send
                    </span>
                </button>
            </div>
        </form>
    </mat-card>    

    <div class="templates-preview-loop" *ngIf="previewTemplate">
    <mat-card class="templates-preview">
            <small>
                {{ thisTemplate.SupplierEmailTemplateId }}
            </small>
            <h3 class="templates-preview-title">
                {{ thisTemplate.Description }}
            </h3>
            <p>
                {{ thisTemplate.EmailSubjectTemplate }}
            </p>
        </mat-card>
    </div>
</div>

