@import "../../../../../variables.scss";
@import "../../../../../buttons.scss";
@import "../../../../../animations.scss";
@import "../../../../../general.scss";

.templates {
    margin: 1em;
    &-overview {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 1em;
        &-template {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 1px 2px 10px 5px rgba(175,175,175, .1);
            padding: 2em;
            margin-top: 1em;
            border-radius: $radius;
            &-actions {
                display: flex;
                justify-content: space-between;
                &-button {
                    background: transparent;
                    border: none;
                    border-radius: $radius;
                    padding: 0.5em;
                    &-icon {
                        
                    }
                    &:hover {
                        box-shadow: 1px 2px 10px 10px rgba(175,175,175, .1);
                    }
                }
            }
        }
    }
    &-add-template {
        hr {
            margin-bottom: 2em;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
        }
        &-button {
            background: transparent;
            // color: white;
            border: none;
            border-radius: $radius;
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            .mat-icon {
                width: 2.75em !important;
                height: 2.75em !important;
            }
            &-icon {
                margin-bottom: 1em;
                width: 10em;
                height: 10em;
            }
            &:hover {
                box-shadow: 1px 2px 10px 10px rgba(175,175,175, .1);
            }

        }
    }
    &-archive-dialog {
        padding: 1em;
        &-buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}

.form-half-width {
    width: 50%;
}

.form-full-width {
    width: 100%;
}