<div class="templates-archive-dialog">
    <h1 class="templates-archive-dialog-title">
        <span translate="GENERAL.ARCHIVE">
            Archive 
        </span>
        {{ data.type.Description }}
    </h1>
    <p class="templates-archive-dialog-paragraph">
        <span translate="SETTINGS.TEMPLATES.ARCHIVE">
            Are you sure you want to archive the template
        </span>
        {{ data.type.Description }}.
    </p>
    <div class="templates-archive-dialog-buttons">
        <button mat-button (click)="testThis()">
            <span translate="GENERAL.CANCEL">
                Cancel
            </span>
        </button>
        <button mat-button class="button-primary" (click)="testThis()">
            <span translate="GENERAL.CONFIRM">
                Yes
            </span>
        </button>
    </div>
</div>