<mat-card class="toolbar">
    <div class="toolbar-breadcrumbs">
        <span translate="MENU.SETTINGS">Instellingen</span>
        <h3 translate="SETTINGS.BRAND.PAGETITLE">Huisstijl</h3>
    </div>
    <!-- <div class="toolbar-breadcrumbs-page">
        <div class="toolbar-breadcrumbs-page-links">
            <i class="kt-menu__link-icon flaticon2-back" (click)="togglePickUser()"></i>
            <p> </p>
        </div>
        <div class="toolbar-breadcrumbs-page-links" *ngIf="startInvoice">
            <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeUser()"></i>
            <p> Make invoice </p>
        </div>
        <div class="toolbar-breadcrumbs-page  *ngIf="checkInvoice">
            <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeInvoice()"></i>
            <p> Invoice Overview </p>
        </div>
    </div> -->
</mat-card>
