<!-- <h1 mat-dialog-title>Hi {{data.templateName}}</h1> -->
<div class="correspondence">
    <div class="correspondence-confirm" *ngIf="!sendingCorrespondence">
        <div class="correspondence-title">
            <div class="correspondence-title-icon">
                <i class="kt-menu__link-icon flaticon-multimedia"></i>
            </div>
            <h4>
                <span translate="GENERAL.SEND">
                    Send 
                </span>
                {{data.templateName}}
            </h4>
        </div>
        <div mat-dialog-content class="correspondence-content">
            <p *ngIf="data.amount.length > 0">
                <span translate="OVERVIEW.DIALOG">
                    Do you want to send data.templateName to these data.amount.length people?
                </span>
            </p>
            <p *ngIf="data.amount.length < 1">Please select invoices to which you want to send {{data.templateName}}.</p>
        </div>
    </div>
    <div class="correspondence-sending" *ngIf="sendingCorrespondence">
        <div class="correspondence-title">
            <div class="correspondence-title-icon">
                <i class="kt-menu__link-icon flaticon-multimedia"></i>
            </div>
            <h4>
                <span translate="GENERAL.SEND">
                    Send
                </span>
                {{data.templateName}}
            </h4>
        </div>
        <div mat-dialog-content class="correspondence-content">
            <p>
                {{ data.amount.length }}
                <span translate="OVERVIEW.LEFT">
                    left to send.
                </span>
            </p>
        </div>
    </div>
    <div class="correspondence-send"></div>
    
    <div mat-dialog-actions>
        <button mat-button class="button-primary" *ngIf="!sendingCorrespondence" cdkFocusInitial (click)="sendCorrespondence()">
            <span translate="GENERAL.SEND">
                Send
            </span>
        </button>
        <button mat-button class="button-primary" *ngIf="sendingCorrespondence" [mat-dialog-close]="data.templateCode" (click)="toggleSend()" cdkFocusInitial>
            <span translate="GENERAL.OK">
                Ok
            </span>
        </button>
        <button mat-button (click)="onNoClick()" *ngIf="!sendingCorrespondence">
            <span translate="GENERAL.CANCEL">
                No Thanks
            </span>
        </button>
    </div>
    
</div>