<div class="overview">
<mat-card class="toolbar">
    <div class="toolbar-breadcrumbs">
        <span translate="MENU.INVOICES">Invoices</span>
        <h3 translate="OVERVIEW.OVERVIEWTITLE">
            Overview
        </h3>
    </div>
    <div class="toolbar-actions">
        <button mat-button [matMenuTriggerFor]="menu" [disabled]="selection.selected.length < 1" [ngClass]="{'overview-toolbar-actions-button-active': selection.selected.length > 0}">
            <i class="kt-menu__link-icon flaticon-multimedia"></i>
        </button>
        <mat-menu class="" #menu="matMenu" xPosition="before">
            <div class="toolbar-actions-correspondence" *ngIf="supplierEmailTemplates && supplierEmailTemplates.length > 0">
                <div class="toolbar-actions-correspondence-invoices-header">
                    <h4 translate="OVERVIEW.INVOICE">Invoice</h4>
                </div>
                <div class="toolbar-actions-correspondence-invoices" *ngFor="let template of supplierEmailTemplates">
                    <div class="toolbar-actions-correspondence-invoices-content" *ngIf="template.type === 'invoice'">
                        <p>{{ template.Description }}</p>
                        <div class="toolbar-actions-correspondence-invoices-content-buttons">
                            <button 
                                mat-menu-item 
                                mat-buttton 
                                button-primary 
                                (click)="openCorrespondenceDialog(template.SupplierEmailTemplateCode, template.Description)">
                                <mat-icon class="new-choose-user-card-icon" aria-label="Send" svgIcon="icon_envelope_bold" matPrefix></mat-icon>
                                <span translate="GENERAL.SEND">
                                    Send
                                </span>
                            </button>
                            <button mat-menu-item>
                            <mat-icon class="new-choose-user-card-icon" aria-label="Preview" svgIcon="icon_preview_bold" matPrefix></mat-icon>
                            <span translate="OVERVIEW.PREVIEW">
                                Preview
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar-actions-correspondence" *ngIf="supplierEmailTemplates && supplierEmailTemplates.length > 0">
            <div class="toolbar-actions-correspondence-reminders-header">
                <h4 translate="OVERVIEW.REMINDERS">Reminders</h4>
            </div>
            <div class="toolbar-actions-correspondence-reminders" *ngFor="let template of supplierEmailTemplates">
                <div class="toolbar-actions-correspondence-reminders-content" *ngIf="template.type === 'reminder'">
                    <p>{{ template.Description }}</p>
                    <div class="toolbar-actions-correspondence-reminders-content-buttons">
                        <button mat-menu-item mat-buttton button-primary (click)="openCorrespondenceDialog(template.SupplierEmailTemplateCode, template.Description)">
                                <mat-icon class="new-choose-user-card-icon" aria-label="Send" svgIcon="icon_envelope_bold" matPrefix></mat-icon>
                                <span translate="GENERAL.SEND">
                                    Send
                                </span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="new-choose-user-card-icon" aria-label="Preview" svgIcon="icon_preview_bold" matPrefix></mat-icon>
                                <span translate="OVERVIEW.PREVIEW">
                                    Preview
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-actions-correspondence-edit" *ngIf="supplierEmailTemplates && supplierEmailTemplates.length > 0">
                <button class="button-plain" mat-button>
                    <mat-icon class="new-choose-user-card-icon" aria-label="Edit" svgIcon="icon_edit_bold" matPrefix></mat-icon>
                    <span translate="OVERVIEW.EDIT">
                        Edit templates
                    </span>
                </button>
            </div>
            <div class="toolbar-actions-correspondence-edit" *ngIf="!supplierEmailTemplates && supplierEmailTemplates.length < 1">
                <button mat-button>
                    <i class="kt-menu__link-icon flaticon-edit"></i>
                    <span translate="OVERVIEW.NEW">
                        New template
                    </span>
                </button>
            </div>
        </mat-menu>
    </div>
       
</mat-card>
    
<mat-card class="overview-container">

    <div class="overview-filter">
        
        <!-- filter text input -->
        <div class="overview-filter-header">
            <mat-form-field class="overview-filter-header-textinput" appearance="outline">
                <mat-label translate="OVERVIEW.SEARCHLABEL">Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'OVERVIEW.SEARCHPLACEHOLDER' | translate">
            </mat-form-field>
        </div>
        <!-- date filter -->
        <form class="date-block overview-filter-form-date" [formGroup]="filterForm">
            <div class="date-block__list">
                <mat-form-field class="overview-filter-form-date-field" appearance="outline">
                    <input matInput [matDatepicker]="fromDate" [placeholder]="'OVERVIEW.DATEFROM' | translate" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="date-block__list">
                <mat-form-field class="overview-filter-form-date-field" appearance="outline">
                    <input matInput [matDatepicker]="toDate" [placeholder]="'OVERVIEW.DATETO' | translate" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-button class="button-primary " (click)="applyDateFilter()">
                <span translate="GENERAL.APPLY">
                    Apply
                </span>
            </button>
        </form>
    </div>

    <div class="overview-container">
        <mat-table  #table [dataSource]="invoices" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

            <!-- mat select -->
            <ng-container matColumnDef="select">
                <mat-header-cell class="table-select" *matHeaderCellDef>
                    <mat-checkbox 
                        (change)="$event ? masterToggle() : null" 
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell class="table-select" *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <!-- table id -->
            <ng-container matColumnDef="id">
                <mat-header-cell class="table-id" *matHeaderCellDef mat-sort-header translate="BASIC.CUSTOMERID"> </mat-header-cell>
                <mat-cell class="table-id" *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
            <!-- 'SupplierName',  -->
            <ng-container matColumnDef="supplier">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span translate="GENERAL.SUPPLIERNAME">
                        Supplier Name 
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.supplier }} </mat-cell>
            </ng-container>
            <!-- 'InvoiceNumber',  -->
            <ng-container matColumnDef="invoicenumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.INVOICENUMBER">
                        Invoice Number
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.invoicenumber }}  </mat-cell>
            </ng-container>
            <!-- 'InvoiceDate',  -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span translate="GENERAL.INVOICEDATE">
                        Invoice Date
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.date | date }}  </mat-cell>
            </ng-container>
            <!-- 'SupplierCustomerId',  -->
            <ng-container matColumnDef="customerid">
                <mat-header-cell *matHeaderCellDef mat-sort-header>  
                    <span translate="GENERAL.CUSTOMERID">
                        Customer id
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.customerid }}  </mat-cell>
            </ng-container>
            
            <!-- 'DebtorName', -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.CUSTOMERNAME">
                        Name 
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>
                
            <!-- 'DebtorZipCode',  -->
            <ng-container matColumnDef="zip">
                <mat-header-cell [hidden]="true" *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.ZIP">
                        Postal code 
                    </span>
                </mat-header-cell>
                <mat-cell [hidden]="true" *matCellDef="let row"> {{ row.zip }}  </mat-cell>
            </ng-container>
            
            <!-- 'DebtorCity',  -->
            <ng-container matColumnDef="city">
                <mat-header-cell [hidden]="true" *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.CITY">
                        City 
                    </span>
                </mat-header-cell>
                <mat-cell [hidden]="true" *matCellDef="let row"> {{ row.city }}  </mat-cell>
            </ng-container>
            
            <!-- 'Amount',  -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.AMOUNT">
                        Amount 
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">&euro; {{ row.amount }}  </mat-cell>
            </ng-container>
            
            <!-- 'Currency',  -->
            <ng-container matColumnDef="currency">
                <mat-header-cell [hidden]="true" *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.CURRENCY">
                        Currency 
                    </span>
                </mat-header-cell>
                <mat-cell [hidden]="true" *matCellDef="let row"> {{ row.currency }}  </mat-cell>
            </ng-container>
            
            <!-- 'InvoiceStateDescription' -->
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 
                    <span translate="GENERAL.STATUS">
                        Status 
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide" 
                    [ngClass]="{
                                'badge-dang': row.state === 'Hard Bounce',
                                'badge-danger': row.state === 'Complaint',
                                'badge-warning': row.state === 'Soft Bounce',
                                'badge-success': row.state === 'Paid',
                                'badge-primary': row.state === 'Payment plan',
                                'badge-accent': row.state === 'Payment started'
                            }">
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide"                *ngIf="row.state === 'New'"             translate="OVERVIEW.NEWINVOICE">Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide"                *ngIf="row.state === 'Read'"            translate="OVERVIEW.READ">      Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-dang"     *ngIf="row.state === 'Hard Bounce'"     translate="OVERVIEW.HARDBOUNCE">Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-dang"     *ngIf="row.state === 'Complaint'"       translate="OVERVIEW.COMPLAINT"> Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-warning"  *ngIf="row.state === 'Soft Bounce'"     translate="OVERVIEW.SOFTBOUNCE">Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-success"  *ngIf="row.state === 'Paid'"            translate="OVERVIEW.PAID">      Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-primary"  *ngIf="row.state === 'Payment plan'"    translate="OVERVIEW.PLAN">      Status</span> 
                       <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide badge-accent"   *ngIf="row.state === 'Payment started'" translate="OVERVIEW.STARTED">   Status</span> 
                    </span>
                </mat-cell>
            </ng-container>

        </mat-table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100, 1000, 5000, 10000]"></mat-paginator>
    </div>

</mat-card>
</div>