@import "../../../../../general.scss";
@import "../../../../../variables.scss";
@import "../../../../../buttons.scss";
@import "../../../../../animations.scss";

.overview {
    position: relative;
    &-container {
        margin: 1em;
    }
    &-filter {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        mat-form {
            border-color: $black;
        }
        form {
            display: flex;
            align-items: baseline;
        }
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: $grey !important;
            border: 1px solid $grey-light;
            border-radius: $radius;
        }
        &-header{
            width: 40%;
            &-textinput {
                width: 90%;
            }
        }   
        &-form{
            width: 25%;
            &-date{
                &-field {
                    width: 10em;
                }
                button {
                    height: 3.25em;
                    margin: 0.28em 0 0 0;
                    padding: 0;
                    align-self: flex-start;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1em;
                }
            }
        }
    }
}

.table {
    &-select {
        max-width: 3em;
        padding-left: 0.5em;
    }
    &-id {
        max-width: 3em;
        flex: 0 0 50px;
        color: $grey;
    }
}

.badge {
    &-prime, &-primary {
        background: $primary;
        color: $white;
    }
    &-accent {
        background: $dark;
        color: $white;
    }
    &-success {
        background: $success !important;
        color: $white;
    }
    &-info {
        background: $info !important;
        color: $white;
    }
    &-warn, &-warning {
        background: $warning !important;
        color: $white;
    }
    &-dang, &-danger {
        background: $danger !important;
        color: $white;
    }
}

.correspondence {
    padding: 1em;
    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-icon {
            border: 1px solid $primary;
            border-radius: 5em;
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 5em;
            font-size: 3.5em;
            margin-bottom: 0;
            i {
                height: 4.9em;
                color: $primary;
            }
        }
        h4 {
            margin-top: 1em;
            align-self: flex-start;
            padding: 0 24px;
        }
    }
    .mat-dialog-actions {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    &-content {
        margin: 0 !important;
    }
}
