<div class="import">
    <mat-card class="toolbar">
        <div class="toolbar-breadcrumbs">
            <span translate="MENU.INVOICES">Invoices</span>
            <h3 translate="IMPORT.TITLE">Import</h3>
        </div>
        <div class="toolbar-breadcrumbs-page">
            <div class="toolbar-breadcrumbs-page-links">
                <i class="kt-menu__link-icon flaticon2-back"></i>
                <p translate="IMPORT.BREADCRUMB.IMPORT"> Importeer </p>
            </div>
            <!-- <div class="toolbar-breadcrumbs-page-links">
                <i class="kt-menu__link-icon flaticon2-back"></i>
                <p> Maak factuur </p>
            </div> -->
        </div>
    </mat-card>

    <div class="import-upload-buttons">
        <!-- excel -->
        <mat-card class="import-choose-file">
            <div class="drag-and-drop">
                <mat-icon class="drag-and-drop-icon" aria-label="excel" svgIcon="icon_xls" matPrefix></mat-icon>
                <input 
                class="drag-and-drop-input" 
                #excelUploadButton 
                type="file" 
                name="file" 
                id="file" 
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                (change)="onFileChange($event)"/>
            </div>
            <!-- accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileChange($event)" (drop)="stopTheDrag()" (dragleave)="stopTheDrag()" (dragover)="drag()" /> -->
            <div class="import-choose-file-info">
                <H3 translate="IMPORT.EXCEL">Upload your excel file</H3>
                <p>
                    <em translate="IMPORT.DRAGANDDROP">Click to select file or drag the file and drop it on the blue field</em>
                </p>
                <p *ngIf="invoices.data.length > 0">
                    <span translate="IMPORT.AMOUNT">
                        Amount of invoices 
                    </span>
                    <span>
                        {{ invoices.data.length }}
                    </span>
                </p>
                <p *ngIf="excelFileName">
                    <span translate="IMPORT.FILENAME">
                        Filename     
                    </span>
                    : {{ excelFileName }}
                </p>
            </div>
        </mat-card>

        <!-- PDF -->
        <mat-card class="import-choose-file" *ngIf="invoicesPresent">
            <div class="drag-and-drop">
                <mat-icon class="drag-and-drop-icon" aria-label="pdf" svgIcon="icon_pdf" matPrefix></mat-icon>
                <!-- <i class="kt-menu__link-icon flaticon-file-1" (click)="addFile()"></i> -->
                <input class="drag-and-drop-input" type="file" #pdfUploadButton name="PDF-file" id="PDF-file"
                    accept="application/pdf" />
            </div>
            <!-- accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileChange($event)" (drop)="stopTheDrag()" (dragleave)="stopTheDrag()" (dragover)="drag()" /> -->
            <div class="import-choose-file-info">
                <H3 translate="IMPORT.PDF">Upload your PDF files</H3>
                <p><em translate="IMPORT.DRAGANDDROP">Click to select file or drag the file and drop it on the blue field</em></p>
                <p *ngIf="invoices.data.length > 0">
                    <span translate="IMPORT.AMOUNT">
                        Amount of PDF files 
                    </span>
                    <span>
                        : {{ invoices.data.length }}
                    </span>
                </p>
                <p *ngIf="excelFileName">
                    <span translate="IMPORT.FILENAME">
                        Filename
                    </span>
                    : {{ excelFileName }}
                </p>
            </div>
        </mat-card>

    </div>
    
    <mat-card *ngIf="invoicesPresent" class="import-invoice-table">
        <div>
            <h3 translate="IMPORT.OVERVIEW">Invoices overview</h3>
            <div>
                <table mat-table [dataSource]='invoices' matSort style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
                        <ng-container matColumnDef="InvoiceNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Factuur Nr. </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.InvoiceNumber }} </td>
                        </ng-container>
                        <ng-container matColumnDef="InvoiceDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Factuurdatum </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.InvoiceDate | date:"dd/MM/yy"  }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="InvoiceDueDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vervaldatum </th>
                            <td mat-cell *matCellDef="let invoice">{{ invoice.InvoiceDueDate | date:"dd/MM/yy"  }} </td>
                        </ng-container>
                        <ng-container matColumnDef="DebtorEmail">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.DebtorEmail }} </td>
                        </ng-container>
                        <ng-container matColumnDef="DebtorName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.DebtorName }} </td>
                        </ng-container>
                        <ng-container matColumnDef="Description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Omschrijving </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.Description }} </td>
                        </ng-container>
                        <!-- bedrag -->
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bedrag </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.Amount }} </td>
                        </ng-container>
                        <ng-container matColumnDef="SupplierCustomerId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Klantcode </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.SupplierCustomerId }} </td>
                        </ng-container>
                        <ng-container matColumnDef="SupplierName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leverancier </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.SupplierName }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PurchaseId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Betalingskenmerk </th>
                            <td mat-cell *matCellDef="let invoice"> {{ invoice.PurchaseId }} </td>
                        </ng-container>
                    <!-- betaalplan -->
                    <ng-container matColumnDef="InstallmentPlanNumberOfPayments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Termijnen </th>
                        <td mat-cell *matCellDef="let invoice"> {{ invoice.InstallmentPlanNumberOfPayments }} </td>
                    </ng-container>
                    <ng-container matColumnDef="InstallmentPlanPaymentAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Termijnbedrag </th>
                        <td mat-cell *matCellDef="let invoice"> {{ invoice.InstallmentPlanPaymentAmount }} </td>
                    </ng-container>
                    <!-- betaalplan einde -->
                    <ng-container matColumnDef="importStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Import status </th>
                        <td mat-cell *matCellDef="let invoice"> {{ invoice.importStatus }} </td>
                    </ng-container>
                </table>
                <div class="import-invoice-buttons">
                    <button mat-button class="import-invoice-buttons-annuleren">
                        Annuleren
                    </button>
                    <button mat-button class="import-invoice-buttons-upload button-primary">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
