@import "../../../../../general.scss";

.import {
    &-upload-buttons {
        display: flex;
    }
    &-choose-file {
        position: relative;
        display: flex;
        margin: 1em;   
        max-width: 50%;
        &-info {
            padding: 1em 3em;
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
        }
    }
    &-invoice-table {
        margin: 1em;   
        overflow: hidden;
    }
    &-invoice-buttons {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
}

