<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}">
    <div  class="toolbar kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="toolbar-breadcrumbs">
            <span translate="MENU.INVOICES">Invoices</span>
            <h3 translate="NEWINVOICE.PAGETITLE">New invoice</h3>
        </div>
        <div class="toolbar-breadcrumbs-page">
            <div class="toolbar-breadcrumbs-page-links" *ngIf="chosenUserMethod !== 'none'">
                <i class="kt-menu__link-icon flaticon2-back" (click)="togglePickUser()"></i>
                <p *ngIf="chosenUserMethod !== 'none'"> {{ chosenUserMethod }} </p>
            </div>
            <div class="toolbar-breadcrumbs-page-links" *ngIf="startInvoice">
                <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeUser()"></i>
                <p> Make Invoice </p>
            </div>
        </div>
    </div>
</div>
