@import "../../../../../variables.scss";
@import "../../../../../buttons.scss";
@import "../../../../../animations.scss";
@import "../../../../../general.scss";

.btn-picker, .empty {
    border: 1px solid #ddd;
    border-radius: 50% !important;
}

.general {
    margin: 1em;
    display: flex;
    
    &-company{
        &-info {
            div {
                display: flex;
                align-items: center;
                padding: 1em 0;
                mat-icon {
                    margin-right: 1em;
                }
            }
        }
        &-brand {
            margin-left: 1em;
            img {
                margin-bottom: 1em;
            }
            &-color-picker {
                button {
                    border-radius: 50%;
                }
            }
        }
    }
}
