<mat-card class="toolbar">
    <div class="toolbar-breadcrumbs">
        <span translate="MENU.SETTINGS">Instellingen</span>
        <h3 translate="SETTINGS.GENERAL.PAGETITLE">Algemeen</h3>
    </div>
    <!-- <div class="toolbar-breadcrumbs-page">
        <div class="toolbar-breadcrumbs-page-links" *ngIf="chosenUserMethod !== 'none'">
            <i class="kt-menu__link-icon flaticon2-back" (click)="togglePickUser()"></i>
            <p *ngIf="chosenUserMethod !== 'none'"> {{ chosenUserMethod }} </p>
        </div>
        <div class="toolbar-breadcrumbs-page-links" *ngIf="startInvoice">
            <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeUser()"></i>
            <p> Make invoice </p>
        </div>
        <div class="toolbar-breadcrumbs-page  *ngIf="checkInvoice">
            <i class="kt-menu__link-icon flaticon2-back" (click)="toggleMakeInvoice()"></i>
            <p> Invoice Overview </p>
        </div>
    </div> -->
</mat-card>

<div class="general">
    <mat-card class="general-company-info">
        <h2>
            <span translate="SETTINGS.GENERAL.MAININFO">Company information</span> 
            <a><mat-icon class="menu-icon" svgIcon="icon_edit"></mat-icon></a> 
        </h2>
        <hr class="underline underline_wide">
        <div class="general-company-info-name">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_home_light" matPrefix></mat-icon>
            <p>{{ company.name }}</p>
        </div>
        <div class="general-company-info-phone">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_phone" matPrefix></mat-icon>
            <p>{{ company.phone }}</p>
        </div>
        <div class="general-company-info-email">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_envelope" matPrefix></mat-icon>
            <p>{{ company.email }}</p>
        </div>
        <div class="general-company-info-url">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_url" matPrefix></mat-icon> 
            <p>{{ company.url }}</p>
        </div>
    </mat-card>
    <!-- <mat-card class="general-company-info">
        <h2>
            <span translate="SETTINGS.GENERAL.EDITMAININFO">Company information</span> 
            <a><mat-icon class="menu-icon" svgIcon="icon_edit"></mat-icon></a> 
        </h2>
        <hr class="underline underline_wide">
        <div class="general-company-info-name">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_home_light" matPrefix></mat-icon>
            <input>{{ company.name }}</input>
        </div>
        <div class="general-company-info-phone">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_phone" matPrefix></mat-icon>
            <input>{{ company.phone }}</input>
        </div>
        <div class="general-company-info-email">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_envelope" matPrefix></mat-icon>
            <input>{{ company.email }}</input>
        </div>
        <div class="general-company-info-url">
            <mat-icon class="menu-icon" aria-label="add-user" svgIcon="icon_url" matPrefix></mat-icon> 
            <input>{{ company.url }}</input>
        </div>
    </mat-card> -->
    <mat-card class="general-company-brand">
                <h2 translate="SETTINGS.GENERAL.BRANDTITLE">Brand</h2>
                <hr class="underline underline_wide">
                <h4 translate="SETTINGS.GENERAL.LOGO">Logo</h4>
                <img src="../../../../../assets/media/logos/logo-10.png" alt="logo">
                <h4 translate="SETTINGS.GENERAL.BRANDCOLOR">COLOR</h4>
                <div class="general-company-brand-color-picker">
                    <mcc-color-picker></mcc-color-picker>
                </div>
                <h4 translate="SETTINGS.GENERAL.SECONDCOLOR">COLOR</h4>
                <div class="general-company-brand-color-picker">
                    <mcc-color-picker></mcc-color-picker>
                </div>
    </mat-card>

</div>