// @import "../../../../../styles.scss";

:host {
	.kt-aside {
		height: 100%;
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}

}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
	display: flex;
	align-items: center;
}

a {
	color: #646c9a;
	&:hover, &:active {
		.kt-menu__link-icon {
			color: #3a96d2 !important;
		}
		.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-icon {
			color: #3a96d2 !important;
		}
	}
}

.menu-icon {
	margin-right: 1em;
	margin-left: 2em;
}

