@keyframes lightup {
    0% {
        color: rgba($primary, 0.4);
    }
    40% {
        color: rgba($primary, 1);
    }
    60% {
        color: rgba($primary, 1);
    }
    100% {
        color: rgba($primary, 0.6);
    }
}