@import "./variables.scss";

.button {
    &-md {
        width: 5em;
        border-radius: $radius;
    }
    &-primary {
        background: $primary !important;
        color: $white !important;
        &:hover {
            background: darken($primary, 10%) !important;
        }
    }
    &-plain {
        background: rgba($white, .1);
        color: $grey;
        mat-icon {
            color: $grey;
        }
        .mat-button-wrapper {
            display: flex;
        }
        &:hover {
            background: rgba($white, .2);
            mat-icon {
                color: $primary;
            }   
        }
    }
}

a {
    &:hover {
        color: $primary; 
        mat-icon {
            color: $primary; 
        }
    }
}