@import "./variables.scss";
@import "./animations.scss";
@import "./buttons.scss";


.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    max-width: 100vw;
    overflow: hidden;
    margin-top: -2em;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $grey-light;
        border: 1px solid $grey-light;
        margin-left: 2em;
        margin-right: 2em;
        i {
            margin-bottom: -3px;
            color: rgba($primary, 0.4);
        }
        &:hover, &:active, &:focus {
            i {
            color: $primary;
        }   
        }
    }
    &-breadcrumbs {
        color: $grey;
        padding: 1em 2em 1em 1em;
        border-right: 1px solid $grey-light;
        &-page {
            display: flex;
            p {
                margin: 0;
                font-size: 1.2em;
            }
            .flaticon2-back {
                font-size: 1.2em;
                margin-right: 0.5em;
            }
            &-links {
                display: flex;  
                padding: 0.5em;
                color: $grey;
            }
        }
    }
    &-actions {
        &-correspondence {
            padding: 1em;
            width: 20em;
            &-invoices, &-reminders {
                &-content {
                    p {
                        margin-top: 1em;
                        margin-bottom: 0;
                    }
                    &-buttons {
                        display: flex;
                        .mat-menu-item {
                            padding: 0 !important;
                            &:hover {
                                background: $white;
                                mat-icon {
                                    color: $primary;
                                }
                            }
                        }
                        mat-icon {
                            color: $grey;
                            margin-right: .5em;
                        }
                    }
                }
            }
            &-edit {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
                mat-icon {
                    height: 1.2em;
                    margin-right: 0.5em;
                    align-self: baseline;
                }
            }
        }
        &-button-active {
            // animation: lightup duration timing-function delay iteration-count direction fill-mode;
            i {
                animation: lightup .4s ease-out .1s 1 normal forwards;
            }
        }
    }
}

.drag-and-drop {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 25em;
        height: 25em;
        border-radius: $radius;
        box-shadow: $shadow;
        background: rgba($primary,1);
        &-icon {
            color: $white;
            padding: 0;
            display: flex;
            align-self: center;
            height: 10em;
            width: 10em;
        }
        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        &:hover{
            background: rgba($primary,.75);
        }
}