/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/global/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "./variables.scss";
@import "./buttons.scss";

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p, a, li, ul {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	padding: 0 !important;
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

button {
	&:disabled, [disabled] {
		opacity: .25;
	}
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px!important;
	width: 100% !important;
}

.mat-menu-panel {
	max-width: 30em !important;
}
.mat-menu-content {
	margin-bottom: 0 !important;
}
.mat-dialog-content {
	margin: 0 1px !important;
}
.position-static {
	position: static;
}

button {
	&:hover, &:active {
		i {
			color: $primary;
		}   
	}
}

.kt-content, .kt-container {
	padding: 0 !important;
}

.kt-header--fixed.kt-subheader--fixed .kt-subheader {
	height: 95px !important;
	background: rgba($white, .5) !important;
}

div#kt_header {
	height: 3em;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
	color: rgba(216, 220, 230, 1) !important;
}

.underline {
    display: flex;
    justify-self: baseline;
	width: 4em;
	margin: 0.5em 0 1em 0;
	background: $primary;
	&_wide {
	margin-bottom: 1em;
	margin-top: 0em;
    width: 11em;
    height: 0.15em;
	}
}

.mat-form-field-appearance-outline .mat-form-field-outline {
	background: rgba($white, .8) !important;
}

$brand: #3a96d2;
$light: #75c6ff;
$dark: #0068a0;
$primary: #3a96d2;
$success: #00B599;
$info: #36a3f7;
$warning: #ED6161;
$danger: #fd3995;