// colors
// brand
$brand: #3a96d2;
$light: #75c6ff;
$dark: #0068a0;

// UI - colors
$primary: #3a96d2;
$success: #00B599;
$info: #36a3f7;
$warning: #ED6161;
$danger: #fd3995;

// backup colors
$grey-light: #d6dbe0;
$grey: #778899;
$grey-dark: #535f6b;
$barely-black: #001826;
$black: #000305;
$almost-white: #f5f5f5;
$white: #FAFEFF;

$radius: .3em;
$shadow: 0 0 10px 5px rgba($grey, .3);